@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family:'Inter', sans-serif;
}

.login-container {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link {
    border: none;
    color: #6c757d;
}

.nav-tabs .nav-link.active {
    background-color: transparent !important; 
    color: black !important;
    border: 1.5px solid #dedede !important; 
    border-radius: 5px !important;
}

.tab-content {
    margin-top: 20px;
}

.fade-switch {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.logo-container img {
    max-width: 100px;
    height: auto;
}

